body{
  font-size: 14px;
  span{
    color: red;
  }
}

h1{
  color: darkblue;
}


.aspect{
  aspect-ratio: 2 / 1;
  transform: rotate(12deg);
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(200px, 1fr))
}

.block{}